.taskInputForm {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;

    .taskInput {
        flex: 1;
        padding: 9px 16px;
        box-sizing: border-box;
        border: 1px solid var(--white, rgba(247, 247, 247, 1));
        border-radius: 5px;

    }

    .tasksFilter {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #8d64ed;
        padding: 7px 8px;

        .arrowDown {
            margin-top: 3px;
            width: 18px;
            height: 18px;
        }
    }

    .taskInputIcon {
        width: 36px;
        height: 36px;
        padding: 6px;
        border-radius: 5px;
        background-color: #8d64ed;
        flex-shrink: 0;
    }
}