$font-main: system-ui, 'Avenir', 'Helvetica', 'Arial', sans-serif;

$color-dark-bg: #242424;
$color-dark-text: rgba(255, 255, 255, 0.87);

$color-light-bg: #ffffff;
$color-light-text: #213547;

$primary: #646cff;